body {
	height: 100%;
	min-width: 320px;
	scroll-behavior: smooth;
	overflow-x: hidden;
	height: 100%;
	font-family: $main-font, 'Open Sans';
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

a {
	color: $main-text-color;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	flex-grow: 1;
	overflow: hidden;
}
.header {
	position: sticky;
	z-index: 1;
}

.footer {
	margin-top: auto;
}
