.hero {
	position: relative;
}
.hero__inner {
	display: flex;
	justify-content: space-between;
}
.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 585px;
	overflow: hidden;
	padding-top: 150px;
}
.hero__slide-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 110%;
	letter-spacing: 0.021em;
	margin-bottom: 45px;
	text-align: left;
}
.hero__slide-text {
	font-size: 20px;
	margin-bottom: 52px;
	text-align: right;
	overflow: hidden;
	line-height: 140%;
}
.hero__slide-text-inner {
	max-width: 385px;
}
.btn__inner {
	position: relative;
	text-align: right;
	transition: all 0.2s ease-in-out;
	margin-right: 1px;
}

.btn--full.btn--arrow {
	&::before {
		content: '';
		position: absolute;
		width: 67px;
		height: 68px;
		top: 0;
		left: 74px;
		background-image: url('../img/arrow.svg');
		border: 1px solid transparent;
		transition: all 0.2s ease-in-out;
	}

	&:hover::before {
		border: 1px solid $action-color;
		transition: all 0.2s ease-in-out;
	}
}

.btn--full.btn--arrow:hover {
	background-color: $action-color;
	transition: all 0.2s ease-in-out;
}

// Pagination Swiper
.swiper-pagination {
	position: absolute;
	bottom: 155px !important;
	left: -230px !important;
}
.swiper-pagination-bullet {
	width: 30px;
	height: 4px;
	background: #000;
	border-radius: 0;
}

// Slider right
.hero__img {
	overflow: hidden;
}
.swiper-slide.hero__slide {
	margin-left: 24px;
}
.hero__img {
	max-width: 434px;
	max-height: 652px;
}
