$main-font: 'Raleway';

$accent-color: #6e9c9f;
$action-color: #509498;

$main-text-color: #000;
$second-text-color: #998e78;

$light-text-color: #fff;
$price-text-color: #9c9c9c;

$breadcrumbs: #909090;

$form: #868686;

$bg-color: #f1eadc;

$burger-line-color: black;